body {
  padding: 2%;
  margin: 2%;
}



th {
	height:100px;
	width: 100px;
}

tr.neat > th {
	height:30px;
	width: auto;
	padding: 5px;
}

#swap {
  border: none;
  background-color: inherit;
  display: inline-block;
  cursor: pointer;
}
div.outfitdisplay {
	display:inline-block;
	padding: 1%;
	margin: 1%;
	position:absolute;
	width:400px;
	height:600px;
}

div.options {
	float:left;
	display:block;
}

table th {
	font-weight:normal;
}

select {
	width: 130px;
}

.left {
	text-align:left;
}

.sleeveFlip > img {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

.background {	
	position:absolute;
	width:400px;
	height:600px;
	}

.gray {
	background-color:gray;
}

.red {
	background-color:red;
}

.orange {
	background-color:orange;
}

.yellow {
	background-color:yellow;
}

.green {
	background-color:green;
}

.cyan {
	background-color:cyan;
}

.blue {
	background-color:blue;
}

.purple {
	background-color:purple;
}


span {
	display:inline-block;
	width: 22px;
	height: 22px;
	outline: 3px solid black;
}

/* Images  */

#doll {
	position:absolute;
	width:400px;
	height:600px;
	background-image:url("img/doll.png");
}

#neckline {
	position:absolute;
	width:400px;
	height:600px;
}

#top {
	position:absolute;
	width:400px;
	height:600px;
}

#sleeves {
	position:absolute;
	width:400px;
	height:600px;
}